html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #17171c;
  font-family: "Unbounded", "Arial", sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.main {
  flex-grow: 1;
  margin-bottom: 10px;
}

/* HEADER */
.site-header {
  padding: 30px 0;
  background-color: #d2d3da;
}

.site-header__container {
  display: flex;
  justify-content: center;
}

.logo__link {
  font-size: 54px;
  text-decoration: none;

  @media only screen and (max-width: 768px) {
    font-size: 44px;
  }

  @media only screen and (max-width: 576px) {
    font-size: 34px;
  }
}

/* form */
.main {
  flex-grow: 1;
  padding: 30px 0;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  max-width: 80%;
  width: 100%;
  margin: 0 auto 100px;

  @media only screen and (max-width: 768px) {
    flex-wrap: wrap;
  }
}

.movie {
  display: flex;
  gap: 35px;
  row-gap: 40px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 30px;
}

/* CARD */

.card-box {
  display: flex;
  flex-direction: column;
  max-width: 270px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
}

.card-img-top {
  height: 360px;
  width: 270px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-box__btn {
  margin-top: auto;
}

/* FOOTER */
.site-footer {
  padding: 20px 0;
  color: #000;
  text-align: center;
  background-color: #f6f6f6; 
}


/* PAGINATION */ 
.pagination {
  display: flex;
  justify-content: center;
  row-gap: 2px;
  flex-wrap: wrap;
  max-width: 100%;
}