/* form */
.main {
  padding: 50px 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  max-width: 650px;
  width: 100%;
  margin: 0 auto 100px;
}

.movie {
  display: flex;
  gap: 35px;
  row-gap: 40px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-box {
  max-width: 270px;
  width: 100%;
}

img {
  height: 360px;
  width: 270px;
}